---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
      {% unless post.categories contains "support" or post.categories contains "field" %}
      <article class="post">
      
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
        <div class="date">
          {{ post.date | date: "%B %e, %Y" }}
        </div>
        <div class="tag-container">
          {% for category in post.categories %}
          <div class="tag">{{ category }}</div>
          {% endfor %}
        </div>
      
        <div class="entry">
          {{ post.excerpt }}
        </div>
      
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>

      {% endunless %}
  {% endfor %}
</div>
