---
---
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: var(--color-background);
  font: 18px/1.4 $helvetica;
  color: var(--color-body);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.bigfoot-footnote__content {
  background: var(--color-background);
}
.bigfoot-footnote__tooltip {
  background: var(--color-background);
}

.page-layout {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}

article.post {
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: var(--color-heading);
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: var(--color-heading);
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--color-subText);
}

p {
  margin: 15px 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--color-link);
  }
}

button:focus {
  outline: none !important;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--color-subText);
}

// Specify the color of the selection
::-moz-selection {
  color: var(--color-standard-text);
  background: var(--color-select);
}
::selection {
  color: var(--color-standard-text);
  background: var(--color-select);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content-layout {
  width: 100%;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  align-self: stretch;
}

.nav-container {
  flex-shrink: 1;
  background-color: var(--color-nav-background);
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid var(--color-select);
  border-right: 0px;
  padding: 3px;
}

.header {
  flex-direction: column;
  justify-content: end;
  flex: 1;
}

.site-avatar {
  width: 200pt;
  height: 50pt;

  @include mobile {
    width: 125pt;
    height: 30pt;
  }
  
  img {
    border-radius: 5px;
  }
}

.site-info {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }

  a {
    color: var(--color-standard-text);
    font-size: 12;
  }
}

.site-name {
  color: var(--color-body);
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 20px;

  @include mobile {
    font-size: 16px;
  }

}

.site-description {
  margin: -5px 0 0 0;
  color: var(--color-subText);
  font-size: 16px;
  text-align: right;

  @include mobile {
    text-align: center;
    display: block;
  }
}

nav {
  font-family: $helveticaNeue;
  font-size: 18px;
  text-align: center;

  @include mobile {
    float: none;
    margin-top: 0px;
    display: block;
    font-size: 16px;
  }

  a {
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    display: inline;
    margin: 0 5px;
    color: var(--color-link);
  }
}

//
// .main
//

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.tag {
  margin-top: 5pt;
  margin-right: 5pt;
  padding: 0pt 3pt 0pt 3pt;
  color: var(--color-background);
  background-color: var(--color-tag);
  border-radius: 5pt;
  border-width: 1pt;
  border-color: var(--color-tag);
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--color-select);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--color-subText);
    padding: 0.1em 1em;
    color: var(--color-subText);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

#theme-toggle {
  height: 40px;
  margin: 0px 5px;
  margin-top: 7px;
  color: var(--color-standard-text);
  background: var(--color-background);
  border-color: var(--color-subText);
  border-radius: 4pt;
  text-align: center;
}

.wrapper-footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--color-select);
}

footer {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";